CameraAPI/x64/*
CameraAPI/__pychache__/*
*.ipch
*.VC.db
*.vcxproj.user
*.vcxproj.filters
*.nef
*.suo
*.pyc
dataset/
weights/
mlruns/
ascom.alpaca.simulators.net60/
fwhm_data/
images/
asi_native/demo/
asi_native/doc/
skymap/stardb/s2
skymap/stardb/s3
